<!DOCTYPE html>

<html>
    <body>
    
       <h3>
           This is an application created by London Lowmanstone and William Yao that runs a game
           playing bot that plays Tic-Tac-Toe and Connect4 at a professional level. Utilizing Monte Carlo
           and Minimax Algorithms, the bot learns to play games on the fly, and play them well. 
           
           <p>
               About the Creators:
               <p>
                   London Lowmanstone is a freshman at Harvard College residing the Hollis. 
               </p>
               <p>
                   William Yao is a freshman at Harvard College residing in Grays.
               </p>
               
           </p>
       </h3>
        <script src='../static/connect4.js'></script>
  
    </body> 
</html>