<!DOCTYPE html>

<html>
    <head>
        <link href="../static/teststyle.css" rel="stylesheet"/>
    </head>
    <body>
    <center><img src="../static/BotterThanYou.PNG" height=300px width = 460px><img/></center>
        <canvas id='canvas' width=1000 height=550>This canvas cannot be displayed</canvas>
    <style type="text/css">
        canvas {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 1000px;
        }
    </style>
        <script src='../static/index.js'></script>
         
    </body> 
</html>
