<!DOCTYPE html>

<html>
    <head>
        <style type="text/css">
        h3{
            padding-left: 10cm;
        }
        </style>
    </head>
    <body>
    
       <h3>
           <p>TO PLAY Tic-Tac-Toe:</p>
           <ol>
               <li>Select the Tic-Tac-Toe Button on the homescreen</li>
               <li>Use the mouse the click the location on the board you wish to place a marker</li>
               <li>A loading circle will appear when the bot is thinking, followed by a move by the bot</li>
               <li>Try to get three in row</li>
               <li>For more information on the rules of the game, visit <a href="https://en.wikipedia.org/wiki/Tic-tac-toe">Tic-Tac-Toe</a></li>
           </ol>
           <p>TO PLAY Connect4:</p>
           <ol>
               <li>Select the Connect4 Button on the homescreen</li>
               <li>Use the mouse the click the column on the board you wish to place a marker</li>
               <li>A loading circle will appear when the bot is thinking, followed by a move by the bot</li>
               <li>Try to get four in row</li>
               <li>For more information on the rules of the game, visit <a href="https://en.wikipedia.org/wiki/Connect_Four">Connect4</a></li>
           </ol>
           
           
                
           
       </h3>
       
       <form action="/" method="post">
        <button class="btn btn-primary" type="submit" style="height:100px;width:100px">Back</button>
    </form>
  
    </body> 
</html>